:root {
  font-family: fira code;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color : #fcf3ff;
  --btn-color: #646cff;
  --dark-color:#242424;
  --helpder-color: #0999b9ff;
}
/* 
html{
  font-size: 62.5%;
} */

body{
  margin: 0;
  min-width: 32rem;
  /* min-height: 100vh; */
}

a {
  font-weight: 500;
  color: var(--btn-color);
  text-decoration: inherit;
}
a:hover {
  color: #3c45ec;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 1rem;
  /* border-radius: 15px; */
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.section-hero{
  & .grid{
    align-items: center;
  }
  .hero-content{
    & p{
      margin: 2.4rem 0 4.8rem 0;
      &:first-child{
        margin: 0 0 1.2rem 0;
      }
    }
  }
}
.group-btn{
  display: flex;
  gap: 2rem;
}

label,
input,
textarea{
  font-size: 1rem;
  line-height: 1.56;
  letter-spacing: .1rem;
  word-spacing: 0.06rem;
  outline: none;
  border: none;
  margin: .5rem 1rem;
  padding: 0rem 0rem  0 .5rem ;
}
li{
  list-style: none;
  margin: 0 2rem;
  padding: 2px 5px;
}

.container{
  display: flex;
   justify-content: space-between;
   margin: 1rem auto;
   padding: 0 2rem;
}

.container nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;  
}
.grid{
  display: grid;
  gap: 6.4rem;
}
.grid-two-cols{
  grid-template-columns: repeat(2,1fr);
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
